.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  color: white;
  justify-content: space-between;
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  width: 300px;
}
.footer_album-logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footer_song-info > h4 {
  margin-bottom: 5px;
}
.footer_song-info > p {
  font-size: 12px;
}

.footer_center {
  flex: 0.4;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.footer_green {
  color: #1ed15e;
}
.footer_green:hover,
.footer_icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
  cursor: pointer;
}

.footer_right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_right * .MuiSlider-root {
  color: green;
}
